[user]
	name = niklasfranz
	email = nf.app@icloud.com
	adress = nf.app@icloud.com
[email]
	adress = nf.app@icloud.com
[core]
	editor = hx
	excludesFile = ~/.dotfiles/git/.gitignore-global
[init]
	defaultBranch = main
[pull]
	rebase = false
